demo/start-tunnels.sh
demo/stop-tunnels.sh
logs/application.log
logs/error.log
logs/application-*.*.log
logs/backend.log
logs/error-*.*.log
logs/gateway.log
logs/gateway.log.*-*.log
logs/gateway-*.*.log
target/
foundation/target/foundation-1.0.0-SNAPSHOT.jar
foundation/target/foundation-1.0.0-SNAPSHOT.jar
